body { 
    background-color: #ffffff;
    min-width: 1100px;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

h1 {
    font-size: 30px;
    text-align: center;
}

h2 {
    font-size: 20px;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}

a {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

label {
    margin-bottom: 10px;
    color: black;
    font-size: 15px;
    display: block;
}

input[type="text"],
input[type="email"] {
    width: 300px;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #bdbdbd;
    font-size: 15px;
    outline: none;
    transition: 0.2s;
}

input[type="email"]:focus,
input[type="text"]:focus {
    border-color: #1a73e8;
}

.campo input {
    width: 350px;
    padding: 16px;
    font-size: 18px;
    border: 2px solid #c6c6c6;
    border-radius: 10px;
    outline: none;
    transition: 0.2s;
}

.campo input:focus {
    border-color: #1a73e8;
    box-shadow: 0 0 0 1px #1a73e8;
}

.campo input::placeholder {
    font-size: 18px;
    color: #6f6f6f;
}

.mostrar-pass {
    display: flex;
    align-items: left;
    gap: 20px;
    font-size: 15px;
    margin-top: 10px;
}

.show-password {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

input[type="submit"] {
    width: 140px;
    height: 42px;
    border-radius: 6px;
    background: #1a73e8;
    font-size: 16px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}
