body {
    background-image: url("../images/Fondo.png");
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    font-family: Arial;
    margin: 0;
    padding: 0;
}

button {
    padding: 12px 20px;
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 30px;
    background: #ff4757;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #ff6b81;
}

.ruleta-container {
    position: relative;
    width: 350px;
    height: 350px;
    margin: 0 auto;
}

.ruleta {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 8px solid white;
    background: conic-gradient(
        #ff6b81 0deg 60deg,
        #ff4757 60deg 120deg,
        #1e90ff 120deg 180deg,
        #2ed573 180deg 240deg,
        #ffa502 240deg 300deg,
        #a55eea 300deg 360deg
    );
    transition: transform 4s cubic-bezier(0.33, 1, 0.68, 1);
}

.premios {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: transform 4s cubic-bezier(0.33, 1, 0.68, 1);
}

.premio-img {
    position: absolute;
    width: 80px;
    height: 80px;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.puntero {
    position: absolute;
    top: -0px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 30px solid yellow; /* punta hacia abajo */
    z-index: 9999;
}

.modal {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: none; /* Oculto por defecto */
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.modal-content {
    background: white;
    color: black;
    width: 300px;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    animation: aparecer 0.4s ease-out;
}

@keyframes aparecer {
    from { transform: scale(0.6); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

#aceptar-modal {
    padding: 10px 20px;
    margin-top: 15px;
    background: #0fe60f;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#Facebook-modal {
    padding: 10px 20px;
    margin-top: 15px;
    background: #3b5998;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}