body {
    background: #222;
    text-align: center;
    color: white;
    font-family: Arial;
}

button {
    padding: 12px 20px;
    font-size: 18px;
    margin-top: 20px;
    background: #ff4757;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.ruleta {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border: 8px solid white;
    border-radius: 50%;
    background: conic-gradient(
        #ff4757 0deg 60deg,
        #1e90ff 60deg 120deg,
        #2ed573 120deg 180deg,
        #ffa502 180deg 240deg,
        #a55eea 240deg 300deg,
        #ff6b81 300deg 360deg
    );
    transition: transform 4s cubic-bezier(0.33, 1, 0.68, 1);
}
