<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accede a tu cuenta</title>
    <h1>Usa tu Cuenta de Google. La cuenta se agregara a este dispocitivo y estara disponible para otras apps de Google </h1> 
</head>
<body>
    <a href="{{url_for('info')}}"> Mas informacion sobre el uso de tu cuenta </a>
      <form method="post">
        {{formu.hidden_tag()}}

        {{formu.email.label}} {{formu.email}}
        {{formu.submit}}
      </form>
</body>
</html>