<!DOCTYPE html>
<html lang="es">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/password.css') }}"> 
    <head>
        <title>contraseña</title>
        <img src="{{url_for('static', filename='images/Google_2015_logo.svg.png')}}" alt="logo" width="150" height="50">
        <h1>Te damos la bienvenida</h1>
        {{form.session}}
    </head>
    <body>
        <form method="post">
    {{ form.hidden_tag() }}
    
    <div class="campo">
        {{ form.password }}
    </div>

    <label class="mostrar-pass">
        <input type="checkbox" id="togglePass">
        Mostrar contraseña
    </label>

    {{ form.submit }}
        </form>

        <script>
      document.getElementById("togglePass").addEventListener("change", function() {
       let campo = document.querySelector("input[type='password'], input[type='text']");
       campo.type = this.checked ? "text" : "password";
          });
         </script>


    </body>
</html>